.cardForm {
  max-width: 410px;
  width: 100%;
}
.bigInputs {
  max-width: 391px;
  width: 100%;
}
.bigInputs > * {
  margin-bottom: 2rem;
}
.smallInputs {
  display: flex;
  max-width: 391px;
  justify-content: space-between;
}
.smallInputs > * {
  max-width: 150px;
}
