.cardFront {
  max-width: 447px;
  width: 100%;
  max-height: 245px;
  height: 100%;
  background-image: url("../../assets/bg-card-front.png");
  background-size: 100% 100%;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  right: 70%;
  box-shadow: 20px 24px 17px -4px rgba(0, 0, 0, 0.1);
}
.logo {
  padding: 0 0 0 1.5rem;
  width: 87px;
  height: 47px;
}
.number {
  color: white;
  font-size: 28px;
  text-align: right;
  width: 100%;
  padding: 0 1.5rem 0 0;
  box-sizing: border-box;
  margin: 0;
}
.bottomText {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottomText p {
  margin: 0;
  color: white;
  padding: 0 1.5rem;
}
@media screen and (max-width: 1280px) {
  .cardFront {
    right: 20%;
    max-width: 387px;
    max-height: 230px;
  }
}
@media screen and (max-width: 1080px) {
  .cardFront {
    right: 10%;
  }
  .cardFront p {
    font-size: 22px;
  }
}
@media screen and (max-width: 900px) {
  .cardFront {
    right: 3%;
  }
  .cardFront p {
    font-size: 20px;
  }
}
@media screen and (max-width: 836px) {
  .cardFront {
    right: 10%;
    top: 62%;
    max-width: 285px;
    max-height: 157px;
    z-index: 2;
  }
  .cardFront p {
    font-size: 16px;
  }
  .logo {
    width: 50px;
    height: 27px;
  }
}
@media screen and (max-width: 404px) {
  .cardFront {
    right: 7%;
  }
}
